<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voting on the Ethereum blockchain!</title>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <h1>Vote For</h1>
        <div id="candidates">
        </div>
    </div>
</body>
<script>
    const params = JSON.parse('<%- params %>');
</script>
<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script src="/domready.js"></script>
<script src="/index.js"></script>
</html>
